@{
    ViewBag.Title = "Change password";
}

<div class="container bg-white mt-4 p-5 rounded">
    <h3>Change password</h3>
    @using (Html.BeginForm("ChangePasswordSubmit", "Account", FormMethod.Post))
    {
        <p class="fw-bold">New password:</p>
        <input type="text" class="form-control" name="newPassword" style="margin-bottom: 1rem;" id="newPassword" required/>
        <p class="fw-bold">Repeat new password:</p>
        <input type="text" class="form-control" name="repeatNewPassword" style="margin-bottom: 1rem;" id="repeatNewPassword" required/>
        <button type="submit" class="btn btn-primary">Save</button>
    }
</div>

